{% extends "main/main.html" %}
  {% block content %}
    <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-account' %}"><i class="im im-edit"></i> Edit</a>
              <img class="avatar avatar--xl dev__avatar" src="{{ profile.profile_image.url }}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.headline}}</p>
              <p class="dev__location">Based in {{profile.location}}</p>
              <ul class="dev__social">
                {% if profile.github_link %}
                  <li>
                    <a title="Github" href="{{ profile.github_link }}" target="_blank" class="github">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.twitter_link %}
                  <li>
                    <a title="Twitter" href="{{ profile.twitter_link }}" target="_blank" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.linkedin_link %}
                  <li>
                    <a title="LinkedIn" href="{{ profile.linkedin_link }}" target="_blank" class="linkedin">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.personal_link %}
                  <li>
                    <a title="Personal Website" href="{{ profile.personal_link }}" target="_blank" class="personal">
                      <i class="fas fa-globe"></i>
                    </a>
                  </li>
                {% endif %}
                <li>
                  <a href="{% url 'download-cv' %}" class="btn btn--sub btn--sm">
                    
                      <i class="fas fa-download"></i> CV
                  </a>
                </li>
              
              </ul>
              {% if profile.user != user %}
              <a href="{% url 'start-chat' profile.user.username %}" class="btn btn--sub btn--lg">Send Message </a>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              {{profile.about}}
            </p>
          </div>
          <div class="settings">
            <h3 class="settings__title">Skills</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add-skill'%}"><i class="im im-plus"></i> Add Skill</a>
          </div>
<!--  Skills  -->
          <table class="settings__table">
            {% for skill in skills %}
            <tr>
              <td class="settings__tableInfo">
                <h4>{{skill.name}}</h4>
                <p>
                  {{skill.description|truncatewords:20}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-skill' skill.id %}"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-skill' skill.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>            
            {% endfor %}


          </table>
<!--  Projects  -->
          <div class="settings">
            <h3 class="settings__title">Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-project' %}"><i class="im im-plus"></i> Add Project</a>
          </div>

          <table class="settings__table">
            {% for project in projects %}
            <tr>
              <td class="settings__thumbnail">
                <a href="{% url 'project_detail' project.pk %}"><img src="{{project.image.url}}" alt="Project Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="{% url 'project_detail' project.pk %}">{{project.title}}</a>
                <p>
                  {{project.description|truncatewords:20}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-project' project.pk %}"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-project' project.pk %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>
            
            {% endfor %}

          </table>
<!--  Room  -->
<div class="settings">
  <h3 class="settings__title">ROOMS HOSTED BY @{{profile.username}}</h3>
  <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-room' %}"><i class="im im-plus"></i> Create Rooms</a>
</div>

<table class="settings__table">
  {% for room in rooms %}
  <tr>
    <td class="settings__tableInfo">
      <a href="{% url 'room' room.id %}">{{room.name}}</a>
      <p>
        {{room.description|truncatewords:20}}
      </p>
    </td>
    <td class="settings__tableActions">
      <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-room' room.id %}?next=/account"><i class="im im-edit"></i> Edit</a>
      <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-room' room.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
        Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
        
      </div>
    </div>
  </div>
  </main>
  <style>
      .dev__social {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 15px;
        margin: 20px 0;
      }
    
      .dev__social li {
        display: inline-block;
      }
    
      .dev__social a {
        text-decoration: none;
       
        font-size: 18px;
        transition: color 0.3s ease;
        width: 40px; /* Set desired width */
        height: 40px; /* Set desired height */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .dev__social a:hover {
        color: #007bff; /* Default hover color if specific one is not set */
      }
    
      .dev__social a i {
        margin-right: 0; /* Remove right margin to center the icon */
        font-size: 24px;
      }
    
      .dev__social a.github:hover {
        color: #333; /* GitHub hover color */
      }
    
      .dev__social a.twitter:hover {
        color: #1da1f2; /* Twitter hover color */
      }
    
      .dev__social a.linkedin:hover {
        color: #0077b5; /* LinkedIn hover color */
      }
    
      .dev__social a.personal:hover {
        color: #ff4500; /* Personal website hover color, change as needed */
      }
    
  </style>
  
{% endblock content %}
  
