{% extends "main/main.html" %}
{% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <ul class="messages">
      {% for chatroom in user.chat_groups.all %}
      {% if chatroom.is_private %}
      <li class="chatroom {% if not chatroom.is_read %}chatroom--unread{% endif %}">
          <a href="{% url 'chatroom' chatroom.group_name %}">
              {% for member in chatroom.members.all %}
              {% if member != user %}
              <span class="chatroom__author">{{ member.profile.name }}</span>
              {% endif %}
              {% endfor %}
          </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock content %}