{% extends "main/main.html" %}
  {% block content %}
    <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-organizer-profile' %}"><i class="im im-edit"></i> Edit</a>
              <img class="avatar avatar--xl dev__avatar" src="{{ profile.profile_image.url }}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.contact_phone}} | {{profile.contact_email}}</p>
              <p class="dev__location">Based in {{profile.address}}</p>
              <ul class="dev__social">
                  {% if profile.github_link %}
                  <li>
                    <a title="Github" href="{{ profile.website }}" target="_blank"><i class="im im-github"></i></a>
                  </li>
                {% endif %}
                {% if profile.twitter_link %}
                  <li>
                    <a title="Twitter" href="{{ profile.twitter_link }}" target="_blank"><i class="im im-twitter"></i></a>
                  </li>
                {% endif %}
                {% if profile.linkedin_link %}
                  <li>
                    <a title="LinkedIn" href="{{ profile.linkedin_link }}" target="_blank"><i class="im im-linkedin"></i></a>
                  </li>
                {% endif %}
                {% if profile.personal_link %}
                  <li>
                    <a title="Personal Website" href="{{ profile.facebook_link }}" target="_blank"><i class="im im-globe"></i></a>
                  </li>
                {% endif %}
              </ul>
              <a href="#" class="btn btn--sub btn--lg">Send Message </a>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              {{profile.bio}}
            </p>
          </div>

<!--  Events  -->
          <div class="settings">
            <h3 class="settings__title">Events</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add-event'%}"><i class="im im-plus"></i> Add Events</a>
          </div>

          <table class="settings__table">
            {% for event in events %}
            <tr>
              <td class="settings__thumbnail">
                <a href="{% url 'event-detail' event.id %}"><img src="{{event.event_image.url}}" alt="event Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="{% url 'event-detail' event.id %}">{{event.title}}</a>
                <p>
                  {{event.description|truncatewords:20}}
                </p>
              </td>
              <td class="settings__tableActions">
                {% comment %} <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-event' event.pk %}"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-event' event.pk %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                  Delete</a> {% endcomment %}
              </td>
            </tr>
            
            {% endfor %}

          </table>
<!--  Room  -->
<div class="settings">
  <h3 class="settings__title">ROOMS HOSTED BY @{{profile.username}}</h3>
  <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-room' %}"><i class="im im-plus"></i> Create Rooms</a>
</div>

<table class="settings__table">
  {% for room in rooms %}
  <tr>
    <td class="settings__tableInfo">
      <a href="{% url 'room' room.id %}">{{room.name}}</a>
      <p>
        {{room.description|truncatewords:20}}
      </p>
    </td>
    <td class="settings__tableActions">
      <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-room' room.id %}?next=/account"><i class="im im-edit"></i> Edit</a>
      <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-room' room.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
        Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
        
      </div>
    </div>
  </div>
  </main>
  {% endblock content %}
  
