{% extends "main/main.html" %}
  {% block content %}
    <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-organizer-profile' %}"><i class="im im-edit"></i> Edit</a>
              <img class="avatar avatar--xl dev__avatar" src="{{ profile.profile_image.url }}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.contact_phone}} | {{profile.contact_email}}</p>
              <p class="dev__location">Based in {{profile.address}}</p>
              <ul class="dev__social">
                {% if profile.website %}
                  <li>
                    <a title="Website" href="{{ profile.website }}" target="_blank" class="website">
                      <i class="fas fa-globe"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.facebook_link %}
                  <li>
                    <a title="Facebook" href="{{ profile.facebook_link }}" target="_blank" class="facebook">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.twitter_link %}
                  <li>
                    <a title="Twitter" href="{{ profile.twitter_link }}" target="_blank" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.linkedin_link %}
                  <li>
                    <a title="LinkedIn" href="{{ profile.linkedin_link }}" target="_blank" class="linkedin">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                {% endif %}
                {% comment %} {% if profile.more_link %}
                  <li>
                    <a title="More" href="{{ profile.more_link }}" target="_blank" class="more">
                      <i class="fas fa-globe"></i>
                    </a>
                  </li>
                {% endif %} {% endcomment %}
              </ul>
              {% comment %} <a href="#" class="btn btn--sub btn--lg">Send Message </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              {{profile.bio}}
            </p>
          </div>

<!--  Events  -->
          <div class="settings">
            <h3 class="settings__title">Events</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add-event'%}"><i class="im im-plus"></i> Add Events</a>
          </div>

          <table class="settings__table">
            {% for event in events %}
            <tr>
              <td class="settings__thumbnail">
                <a href="{% url 'event-detail' event.id %}"><img src="{{event.event_image.url}}" alt="event Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="{% url 'event-detail' event.id %}">{{event.title}}</a>
                <p>
                  {{event.description|truncatewords:20|safe}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-event' event.pk %}"> <i class="fas fa-pencil-alt"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'event-analytics' event.pk %}"> <i class="fas fa-info-circle"></i> More</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-event' event.pk %}?next=/organization-account"> <i class="fas fa-trash-alt"></i> Delete</a>
              </td>
            </tr>
            
            {% endfor %}

          </table>
<!--  Room  -->
<div class="settings">
  <h3 class="settings__title">ROOMS HOSTED BY @{{profile.username}}</h3>
  <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-room' %}"><i class="im im-plus"></i> Create Rooms</a>
</div>

<table class="settings__table">
  {% for room in rooms %}
  <tr>
    <td class="settings__tableInfo">
      <a href="{% url 'room' room.id %}">{{room.name}}</a>
      <p>
        {{room.description|truncatewords:20}}
      </p>
    </td>
    <td class="settings__tableActions">
      <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-room' room.id %}?next=/account"><i class="im im-edit"></i> Edit</a>
      <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-room' room.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
        Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
        
      </div>
    </div>
  </div>
  </main>
  <style>
    .dev__social {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 10px;
      margin: 20px 0;
    }

    .dev__social li {
      display: inline-block;
    }

    .dev__social a {
      text-decoration: none;

      font-size: 18px;
      transition: color 0.3s ease;
      width: 40px; /* Set desired width */
      height: 40px; /* Set desired height */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dev__social a:hover {
      color: #007bff; /* Default hover color if specific one is not set */
    }

    .dev__social a i {
      margin-right: 0; /* Remove right margin to center the icon */
      font-size: 24px;
    }

    .dev__social a.website:hover {
      color: #ff4500; /* Personal website hover color, change as needed */
    }

    .dev__social a.facebook:hover {
      color: #3b5998; /* Facebook hover color */
    }

    .dev__social a.twitter:hover {
      color: #1da1f2; /* Twitter hover color */
    }

    .dev__social a.linkedin:hover {
      color: #0077b5; /* LinkedIn hover color */
    }

    .dev__social a.more:hover {
      color: #ff4500; /* More link hover color, change as needed */
    }
  </style>
  {% endblock content %}
  
