{% extends "main/main.html" %}

{% block content %}
<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            
            <!-- Tags -->
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle">Date and Time</h3>
                <div class="singleProject__toolStack">
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{ event.date }} -  {{ event.end_date }}</small>
                    </span>
                </div>

                <h3 class="singleProject__subtitle">Location</h3>
                <div class="singleProject__toolStack">

                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>
                            Location: <a href="{{ event.location }}" target="_blank">
                                <i class="fas fa-map-marker-alt"></i> 
                            </a>
                        </small>
                    </span>

                </div>
                <h3 class="singleProject__subtitle">About this event</h3>
                <div class="singleProject__toolStack">
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>
                            <i class="fas fa-clock"></i> Event lasts : {{ duration }}
                        </small>
                    </span>
                </div>

                <h3 class="singleProject__subtitle">Categories</h3>
                <div class="singleProject__toolStack">
                    {% for tags in event.category.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{ tags.name }}</small>
                    </span>
                    {% endfor %}
                </div>

                {% comment %} Event links {% endcomment %}
                {% comment %} {% if event.source_link %}
                <a class="singleProject__liveLink" href="{{ project.source_link }}" target="_blank"><i class="fab fa-github"></i>Source Code</a>
                {% endif %}
                {% if project.demo_link %}
                <a class="singleProject__liveLink" href="#" target="_blank"><i class="im im-external-link"></i>Live Demo
                    {% endif %}
                </a> {% endcomment %}
            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{event.event_image.url}}" alt="Event thumbnail" />
                <a href="{% url 'organzier-profile' event.organizer.id %}" class="singleProject__developer">By {{event.organizer.name}}</a>
                <h5 class="">{{event.date}}</h5>
                <h2 class="singleProject__title">{{event.title}}</h2>
                <h3 class="singleProject__subtitle">About the Event</h3>
                <div class="singleProject__info">
                    {{event.description|safe}}
                </div>


            </div>
        </div>
    </div>
</main>


{% endblock %}
