{% extends "main/main.html" %}
{% block content %}
  <!-- Main Section -->
  <main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{profile.profile_image.url}}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.contact_email}} | {{profile.contact_phone}}</p>
              <p class="dev__location">{{profile.location}}</p>
              <ul class="dev__social">
                {% if profile.website %}
                  <li>
                    <a title="Website" href="{{ profile.website }}" target="_blank" class="website">
                      <i class="fas fa-globe"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.facebook_link %}
                  <li>
                    <a title="Facebook" href="{{ profile.facebook_link }}" target="_blank" class="facebook">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.twitter_link %}
                  <li>
                    <a title="Twitter" href="{{ profile.twitter_link }}" target="_blank" class="twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                {% endif %}
                {% if profile.linkedin_link %}
                  <li>
                    <a title="LinkedIn" href="{{ profile.linkedin_link }}" target="_blank" class="linkedin">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                {% endif %}
                {% comment %} {% if profile.more_link %}
                  <li>
                    <a title="More" href="{{ profile.more_link }}" target="_blank" class="more">
                      <i class="fas fa-globe"></i>
                    </a>
                  </li>
                {% endif %} {% endcomment %}
              </ul>
              {% comment %} <a href="{% url 'create-inbox' profile.id %}" class="btn btn--sub btn--lg">Send Message </a> {% endcomment %}
              {% comment %} {% if profile.user != user %}
                <a href="{% url 'start-chat' profile.user.username %}" class="btn btn--sub btn--lg">Send Message </a>
              {% endif %} {% endcomment %}
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              {{profile.bio}}
            </p>
          </div>
          {% comment %} Skills {% endcomment %}
          <div class="devInfo">
            <div class="devInfo__skills">
              <h3 class="devInfo__subtitle">Event Hosted</h3>
              <div class="devInfo__otherSkills">

                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Upcoming Event :{{events.count}}</small>
                  <small>Event Hosted:{{events.count}}</small>
                </span>                
                

              </div>
            </div>
          </div>
          {% comment %} Events {% endcomment %}
          <div class="devInfo">
            <h3 class="devInfo__title">Upcoming Events</h3>
            <div class="grid grid--two">
            {% for event in events  %}
              <div class="column">
                <div class="card project">
                  <a href="{% url 'event-detail' event.pk %}" class="project">
                    <img class="project__thumbnail" src="{{event.event_image.url}}" alt="project thumbnail" />
                    <div class="card__body">
                      <h3 class="project__title">{{event.title}}</h3>
                      <p><a class="project__author" href="{% url 'organizer-profile' event.pk %}">{{event.name}}</a></p>
                      <p class="event--description">
                        {{ event.description|truncatewords:20|safe }}
                      </p>~
                    </br>
                      <div class="project__tags">
                        {% for tag in event.category.all  %}
                        <span class="tag tag--pill tag--main">
                          <small>{{tag}}</small>
                        </span>
                        {% endfor %}
                      </div>
                    </div>
                  </a>
                </div>
              </div>            
            {% endfor %}



            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <style>
    .dev__social {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 10px;
      margin: 20px 0;
    }

    .dev__social li {
      display: inline-block;
    }

    .dev__social a {
      text-decoration: none;
      color: #555;
      font-size: 18px;
      transition: color 0.3s ease;
      width: 40px; /* Set desired width */
      height: 40px; /* Set desired height */
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dev__social a:hover {
      color: #007bff; /* Default hover color if specific one is not set */
    }

    .dev__social a i {
      margin-right: 0; /* Remove right margin to center the icon */
      font-size: 24px;
    }

    .dev__social a.website:hover {
      color: #ff4500; /* Personal website hover color, change as needed */
    }

    .dev__social a.facebook:hover {
      color: #3b5998; /* Facebook hover color */
    }

    .dev__social a.twitter:hover {
      color: #1da1f2; /* Twitter hover color */
    }

    .dev__social a.linkedin:hover {
      color: #0077b5; /* LinkedIn hover color */
    }

    .dev__social a.more:hover {
      color: #ff4500; /* More link hover color, change as needed */
    }
  </style>
  
{% endblock content %}