{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  
  <!-- Include Selectize.js CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.min.css">
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Include Selectize.js JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
  
  <!-- Dropzone.js for drag drop image 
  
    <link href="https://cdn.jsdelivr.net/npm/dropzone@5.7.2/dist/min/dropzone.min.css" rel="stylesheet">
  -->
  
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />


  <title>TechSync</title>
  
</head>
<body>
    

    {% include "main/navbar.html" %}
  <!--Messages -->

  {% if messages %}
  {% for message in messages %}
  <div class="alert  alert--{{message.tags}}" style='z-index: 1000; position: fixed; left: 50%; top: 10%; transform: translate(-50%, -50%); width: 300px; border-radius: 10px; text-align: center;'>
      <p class="alert__message">{{message}}</p>
      <button class="alert__close">x</button>
  </div>

  {% endfor %}

  {% endif %}


    {% block content %}
    {% endblock content %}

</body>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    let alertWrapper = document.querySelector('.alert');
    let alertClose = document.querySelector('.alert__close');

    if (alertWrapper) {
      alertClose.addEventListener('click', () => {
        alertWrapper.style.display = 'none';
      });

      // Automatically close the alert after 5 seconds
      setTimeout(() => {
        alertWrapper.style.display = 'none';
      }, 5000);
    }
  });
</script>


    <script src="{% static 'uikit/app.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <!--Custom js -->
    <script src="{% static 'js/enhance.js' %}"></script>


    
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Include Selectize.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    
    

</html>