{% extends 'main/main.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password Reset Email Sent</h3>

            <p>If an account exists with the email address you provided, instructions to reset your password have been sent. You should receive the email shortly.</p>
            <br>
            <p>If you don’t receive the email, please verify that you entered the correct email address and check your spam or junk folder.</p>
            
        </div>
    </div>
</main>

{% endblock content %}