{% extends "main/main.html" %}
{% block content%}
{% include "group/navbar.html" %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<div class='home-container'>
        <div>
            {% include "group/topic_component.html" %}
        </div>
        <div>
            <h5>{{room_count}} Rooms</h5>
            <a href="{% url 'create-room' %}">Create Room</a>
            {% include "group/feed_component.html" %}
                
        </div>
{% comment %} Activity {% endcomment %}
        <div>
            {% include "group/activity_component.html" %}
        </div>

</div>
{% endblock content%}