{% extends "main/main.html" %}
{% block content %}

<table>
    
    
    
    <tr>
        <th>Project</th>
        <th>Positive Votes</th>
        <th>Ratio</th>
        <th>Created At</th>
        <th>Edit</th>
    </tr>
    
    {% for project in projects %}
    <tr>
        <td><a href="{% url 'project_detail' project.pk %}">{{ project.title }}</a></td>
        <td>{{ project.vote_ratio }}%</td>
        <td>{{ project.vote_count }}</td>
        <td>{{ project.created_at}}</td>
        <td><a href="{% url 'delete-template' project.pk %}">Delete</a></td>
        <td><a href="{% url 'update-project' project.pk %}">Edit</a></td>
    </tr>
    {% endfor %}
<table/>


{% endblock %}